.panda-bg-info{
     background-color: #FEEAE9;
}


.cetagorices img{
     width: 100px;
}

.cetagorices{
     padding: 10px 30px;
    border-radius: 10px;
}

.panda-btn-buy-now{
     background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.bg-bag{
     background-color: orchid;
}

